a {
    color: #368334;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
}

.hoverable:hover {
    cursor: pointer;
}

.disable-text-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}