.attendance-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.attendance-table-cell {
    text-align: center;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.attendance-table-cell-0 {
    color: #dee2e6 ;
}

.attendance-table-cell-1 {
    color: #198754 ;
}

.attendance-table-cell-2 {
    color: #ffc107 ;
}

.attendance-table-cell-3 {
    color: #dc3545 ;
}


.attendance-table-cell-no-attend {
    background-color: rgb(207, 207, 207) !important;
}