:root {
    --calender-cell-size: 25px;
}

.calender-cell {
    width:  var(--calender-cell-size);
    height: var(--calender-cell-size);
    border: 1px solid lightgray;
    text-align: center;
    font-size: 10pt;
}

.calender-info-cell {
    height: var(--calender-cell-size);
    border: 0px;
    padding-left: 10px;
    font-size: 10pt;
}

.calender-cell-hidden {
    border: 0px;
}

.calender-cell-0, .calender-cell-6 {
    color: gray;
}

.calender-cell-vacation {
    background-color: lemonchiffon;
}

.calender-cell-election {
    background-color: powderblue;
}